<div class="row">
    <div class="col-sm-6">
        <h1>Theatres!</h1>
    </div>
    <div class="col-sm-6 text-end" *ngIf="(userInfo$ | async)?.isAdmin">
        <button class="btn btn-primary" [routerLink]="['/theatre/manage']">Add</button>
    </div>
</div>

<div class="container">
    <h3 *ngIf="!(theatres$ | async)?.length">No theatres found.</h3>
</div>

<div class="container adjust-theatres">
    <div class="row">
        <div class="col-sm-4" *ngFor="let theatre of theatres$ | async">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ theatre.name }}</h5>
                    <p class="card-text">{{ theatre.location }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted"><span>Seating capacity:</span> {{ theatre.seatingCapacity }}</small>
                </div>
                <div class="card-footer" *ngIf="(userInfo$ | async)?.isAdmin">
                    <div class="text-center">
                        <button class="btn btn-primary" [routerLink]="['/theatre/manage/', theatre.id]">Edit</button> | 
                        <button class="btn btn-danger" (click)="deleteTheatre(theatre.id)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>