<h1>Movie Ticket Booking System</h1>

<div class="row adjust-content">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Movies</h5>
          <p class="card-text">Check out the movies running now.</p>
          <a href="/movie" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Theaters</h5>
          <p class="card-text">Checkout our theaters.</p>
          <a href="/theatre" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row adjust-content">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Show Times</h5>
          <p class="card-text">Check out the show timings.</p>
          <a href="/shows" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Ticket Booking</h5>
          <p class="card-text">Book your tickets now.</p>
          <a href="/booking" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
  </div>
